<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TOP</title>
<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
	<a href="/new"><button type="button">新規投稿</button> </a>
	<!-- 日付絞込 -->
	<form th:method="get" action="">
		日付: <input type="date" name="startDate" th:value="${startDate}">～
		<input type="date" name="endDate" th:value="${endDate}"> <input
			type="submit" value="絞込">
	</form>

	<table border="1">
		<caption>匿名掲示板</caption>
		<!-- 項目 -->
		<tr>
			<th>ID</th>
			<th>内容</th>
			<th colspan="3">ボタン</th>
			<th class="none">コメント</th>
		</tr>
		<!-- 内容 -->
		<tr th:each="content : ${contents}">
			<td th:text="${content.id}">
			<td th:text="${content.content}">
				<!-- 削除（top画面で処理) -->
			<td><form th:method="delete"
					th:action="@{/delete/{id}(id=${content.id})}">
					<input type="submit" value="削除" />
				</form></td>
			<!-- 編集 -->
			<td><a th:href="@{/edit/{id}(id=${content.id})}">
					<button type="button">編集</button>
			</a></td>
			<!-- コメントボタン -->
			<td><a th:href="@{/comment/{id}(id=${content.id})}">
					<button type="button">コメント</button>
			</a></td>
			<!-- コメント表示 -->
			<th:block th:each="comment : ${comments}"
				th:if="${content.id == comment.reportId}">
				<td class="none" th:text="${comment.content}"></td>
				<!-- コメント編集ボタン -->
				<td class="none"><a
					th:href="@{/edit-comment/{id}(id=${comment.id})}">
						<button type="button">編集</button>
				</a></td>
				<!-- コメント削除ボタン -->
				<td class="none"><form th:method="delete"
						th:action="@{/delete-comment/{id}(id=${comment.id})}">
						<input type="submit" value="削除" />
					</form></td>
			</th:block>
		</tr>
	</table>
</body>
</html>